# Python
*.pyc
__pycache__/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
.gcloudignore
app.yaml

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
wheels
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtual environments
venv/
env/
ENV/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test logs
*.log
*.out
*.err



# Django settings
jennie/jennie/settings.py
